<!-- <h2>Olympic games app</h2>
<hr/>
<div>
  <div>
    <div class="center">
      <div>{{ titlePage }}</div>
    </div>
    <div class="split">
      <div>
        <p>Number of countries</p>
        <p>{{ totalCountries }}</p>
      </div>
      <div>
        <p>Number of JOs</p>
        <p>{{ totalJOs }}</p>
      </div>
    </div>
  </div>
  <canvas id="DashboardPieChart">{{ pieChart }}</canvas>
</div> -->
<app-header
  title="Jeux Olympiques"
  [stats]="stats">
</app-header>

<div *ngIf="olympics$ | async as olympics">
  <app-chart
    [data]="olympics"
    chartType="pie"
    (chartClick)="onChartClick($event)">
  </app-chart>

</div>
